/*fonts*/
@font-face{
    font-family: railway-black;
    src: url(fonts/Raleway-Black.ttf);
}
@font-face{
    font-family: railway-black-italic;
    src: url(fonts/Raleway-BlackItalic.ttf);
}
@font-face{
    font-family: railway-bold;
    src: url(fonts/Raleway-Bold.ttf);
}
@font-face{
    font-family: railway-bold-italic;
    src: url(fonts/Raleway-BoldItalic.ttf);
}
@font-face{
    font-family: railway-extra-bold;
    src: url(fonts/Raleway-ExtraBold.ttf);
}
@font-face{
    font-family: railway-extra-bold-italic;
    src: url(fonts/Raleway-ExtraBoldItalic.ttf);
}
@font-face{
    font-family: railway-extra-light-italic;
    src: url(fonts/Raleway-ExtraLightItalic.ttf);
}
@font-face{
    font-family: railway-italic;
    src: url(fonts/Raleway-Italic.ttf);
}
@font-face{
    font-family: railway-light;
    src: url(fonts/Raleway-Light.ttf);
}
@font-face{
    font-family: railway-light-italic;
    src: url(fonts/Raleway-LightItalic.ttf);
}
@font-face{
    font-family: railway-medium;
    src: url(fonts/Raleway-Medium.ttf);
}
@font-face{
    font-family: railway-medium-italic;
    src: url(fonts/Raleway-MediumItalic.ttf);
}
@font-face{
    font-family: railway-regular;
    src: url(fonts/Raleway-Regular.ttf);
}
@font-face{
    font-family: railway-semi-bold;
    src: url(fonts/Raleway-SemiBold.ttf);
}
@font-face{
    font-family: railway-semi-bold-italic;
    src: url(fonts/Raleway-SemiBoldItalic.ttf);
}
@font-face{
    font-family: railway-thin;
    src: url(fonts/Raleway-Thin.ttf);
}
@font-face{
    font-family: railway-thin-italic;
    src: url(fonts/Raleway-ThinItalic.ttf);
}
/* Colors */

:root{
    --yellows:#eebf00;
    --blues:#232b38;
    --grey:#6c6c6c;
    --reds-pink:#fe5454;
    --whites:#fefefe;
    --white-2:#f0f0f0;
    --white-3:#ffffff;
    --navys:#20333f;
}
/*reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    -webkit-font-smoothing:antialiasad;
    font-family:"railway-regular";
    line-height: 1.6rem;
}
.container{
    width:100%;
    padding: 15px;
    margin: 0 auto;
}
/*sccreen sizes*/
@media(min-width:576px){
    .container{
        max-width: 540px;
    }
}
@media(min-width:768px){
    .container{
        max-width: 720px;
    }
}
@media(min-width:992px){
    .container{
        max-width: 960px;
    }
}
@media(min-width:1200px){
    .container{
        max-width: 1152px;
    }
}
.main-wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.nav-background{
    width: 100%;
    height: 100%;
    background: var(--white-2);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 1;
}
.nav-trigger{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 15px;
    display: none;
}
.nav-trigger img{
    width: 40px;
    height: 40px;
}
.side-content-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background:var(--whites);
    transition: all .3s ease;
}
.side-content-wrapper.scaled{
    transform: scale(0.9) translateX(90%);
    border-radius: 3px;
    box-shadow: 0px 3px 10px 0 var(--blues);
}
.side-content{
    width:100%;
    height: 100%;
    overflow-x: auto;
}
 header.topbar{
    background: var(--blues);
    color: var(--whites);
    font-family:"railway-semi-bold";
}
header.topbar .auth > div a{
    color: var(--whites);
    text-decoration: none;
}
header.topbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header.topbar .container .auth{
    display: flex;
}
 .flex{
    display: flex;
}
 .justify-between{
    justify-content: space-between;
 }
 .items-center{
    align-items: center;
 }
 header.topbar .icons a{
     margin-right: 0.6rem;
 }
 header.topbar .auth .divider{
     padding:0 1rem;
 }
 header.topbar .auth > div img{
     margin-right: 0.35rem;
 }
 nav .top .nav1 h5, nav .top .nav3 h5{
    font-family: "railway-black";
    margin-bottom: 0.25rem;
 }
 nav .top .nav1 h6, nav .top .nav3 h6{
    font-family: "railway-medium";
    letter-spacing: 0.055rem;
 }
 nav .top .nav1 img, nav .top .nav3 img{
    margin-bottom: 0.25rem;
    padding-right:0.5rem; 
    padding-top: 0.25rem;
 }
 .justify-center{
    justify-content: center;
 }
 nav .navbar a{
    text-decoration: none;
    color: var(--blues);
    font-family: "railway-bold";
    font-size: 1rem;
    padding: 1rem 1.5rem;
    transition: all .3s ease;
 }
 nav .navbar a.active{
    background: var(--yellows);
    color: white;
 }

 nav .navbar a:hover{
    background: var(--yellows)left;
    color: white;
 }
.magic-shadow{
    background: white;
    position: relative;
}
.magic-shadow:after{
    content: '';
    display: block;
    width: 100%;
    height: 69px;
    background-image: url('icons/shadow.svg');
    position: absolute;
    background-repeat: no-repeat;
    bottom: -22px;
    background-position: center;
    z-index: -1;
}
header.hero{
    height: 600px;
    background-image: url('images/hero.png');
    background-position: 0% 0%;
    background-repeat: no-repeat;
    overflow: hidden;
    width: auto;
    background-position: center;
}
header.hero .welcome{
    margin-bottom: 0.25rem;
}
header.hero .welcome span{
    font-family: "railway-bold";
    color:var(--blues);
    margin-right: 0.75rem;
}
header.hero h1{
    font-family: "railway-extra-bold";
    color: var(--blues);
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
}
header.hero h1 span{
    color: var(--yellows);
}
header.hero h1 p{
    font-family: "railway-medium";
    width: 50%;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.btn-primary{
    padding: 0.75rem  0.75rem;
    border-radius: 2px;
    line-height: 0.8;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    background: var(--yellows);
    color: white;
    margin-top: 15px;
    border: 3px solid transparent;
}
.btn-primary:hover{
    background: white;
    color: var(--yellows);
    border: 4px;
    border-color:var(--yellows);  
    border: solid;
}
.btn-second{
    padding: 0.75rem  0.75rem;
    border-radius:2px;
    line-height: 0.8;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    background: var(--blues);
    color: white;
    margin-top: 15px;
    border: 4px solid transparent;
    margin-left: 20px;
}
.btn-second:hover{
    background:white;
    color:var(--blues) ;
    border: 1px;
    border-color:var(--blues); 
    border: solid;
    margin-left: 20px;
}
header.hero .hero-image{
    position:absolute;
    top: -40px;
    right: 40px;
}
header.hero .container{
    position: relative;   
}
section{
    padding: 4rem 0;
    background-position: center;
}
section.topper{
    background: var(--white-2);
}
.section-heading{
    font-family: "railway-bold";
    text-align: center;
    position: relative;
    margin-bottom: 6rem;
}

.section-heading::after{
    content: '';
    display: block;
    width: 100%;
    height: 30px;
    background-image: url(icons/hr.svg);
    background-position:center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -40px;
}
section.topper .foodie .food-cart{
    background: var(--white-3);
    padding: 1.5rem 0;
    border-radius: 4px;

}
section.topper .foodie .food-cart .product-image img{
    width: 80%;
    height: 200px;
    padding-bottom: 1rem;
    object-fit: contain;
}
hr{
    border: 1px solid var(--whites);
    opacity: 0.8;
    margin: 1rem 0;
}
section.topper .foodie .food-cart .product-image img h2{
    font-family: "railway-bold";
    font-size: 1.3rem;
    margin-bottom: 0.25rem;
}
.text-center{
    text-align: center;
}
section.topper .foodie .food-cart .stars img{
    margin-right: 0.25rem;
    margin-bottom: 0.5rem;
}
section.topper .foodie .food-cart .price{
    font-family: "railway-medium";
    color: var(--reds-pink);
    margin-bottom: 1rem;
}
section.topper .foodie .food-cart button{
    font-family: "railway-medium";
    color: var(--blues);
    background: var(--white-3);
    border: 2px solid var(--yellows);
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 50%;
    cursor: pointer;
    transition: 0.3s ease-in;
    font-size: 1rem;
}
.foodie .food-cart button img{
    background: var(--yellows);
    padding: 0.50rem;
    height: 32px;
    margin-right: 1.2rem;
}

section.topper .foodie .food-cart button:hover{
    background: var(--yellows);
    color: var(--white-3);
}
.slick-slide{
    margin:0 27px;
}
.slick-list{
    margin: 0 27px;
}
.topper .slider-btn{
    width: 30px;
    height: 30px;
    border: none;
    background: var(--yellows);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}
.previous-btn{
    position: absolute;
    top: 46%;
    left: 0rem;
    z-index: 1;
}
.next-btn{
    position: absolute;
    top: 46%;
    right: 0rem;
    z-index: 1;
}
.topper .slider{
    position: relative;
}
.topper .btn-rapper{
    margin-top: 2rem ;
} 
.btn-secondary{
    padding: 0.75rem  0.75rem;
    border-radius: 2px;
    line-height: 0.8;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    background: var(--blues);
    color: var(--white-3);
    margin-top: 15px;
    border: 1px solid transparent;   
}
.topper .btn-secondary:hover{
    background: white;
    color: var(--blues);
    border: 4px; 
    border: solid;
    border-color: var(--blues);
}
.shadow{
    background: white;
    position: relative;
}
.shadow:after{
    content: '';
    display: block;
    width: 100%;
    height: 69px;
    background-image: url('icons/shadow-sm.svg');
    position: absolute;
    background-repeat: no-repeat;
    bottom: -20px;
    background-position: center;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}
.slick-track{
    padding: 1rem 0;
}
.flex-1{
    flex: 1;
}
section.about-meal img{
    width: 85%;
}
section.about-meal h2{
    font-family: "railway-bold";
    font-size: 1.4rem;
    color: var(--blues);
    margin-bottom: 2rem;
    line-height: 1.3;
}
section.about-meal p{
    line-height: 1.7;
    margin-bottom: 4rem;
}
section.our-services{
    background: var(--white-2);
    z-index: 0;
    position: relative;
}
section.our-services .service-card{
    background: var(--white-3);
    text-align: center;
    padding: 2rem;
    padding-top:4rem;
    position: relative;
    border-radius: 4px;
    margin-right: 2rem;
}
section.our-services .card-rapper{
    margin-right: -2rem;
    margin-top: 8rem;
}
section.our-services .service-card .icon{
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
}
section.our-services .service-card h2{
    font-family: "railway-bold";
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
section.our-services .service-card p{
    line-height: 1.6;
    margin-bottom: 1rem;
}
.text-primary{
    color: var(--yellows);
}
section.big-deal .timer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -2rem;
    margin-bottom: -2rem;
}
section.big-deal .timer div{
    margin-right: 2rem;
    background: var(--yellows);
    width: 150px;
    height: 150px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section.big-deal .timer div span:first-child{
    font-family: "railway-sembold";
    font-size:2.5rem;
    color:var(--white-3);
    margin-bottom:0.05rem ;
}

section.big-deal .timer div span:last-child{
    font-family: "railway-medium";
    color: var(--white-3);

}
section.big-deal{
    background: linear-gradient(
        rgba(35,43,56,0.9),
        rgba(35,43,56,0.9)
    ), url(images/food-table.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:  fixed;
}
.pure{
    color: var(--whites);
}
.latest-news .article-wrap .card img{
    width:100%
}
section.latest-news{
    background: var(--white-2);
    position: relative;
    z-index: 0;
}
section.latest-news .article-wrap{
    display: flex;
    margin-right: -2rem;
}
.latest-news .article-wrap .card{
    margin-right: 2rem;
    background: var(--white-3);
    border-radius: 4px;
}
.latest-news .article-wrap .card .card-content{
    padding: 2rem;
}
.latest-news .article-wrap .card .card-content .post-meta{
    margin-bottom: 1rem;
}
.latest-news .article-wrap .card .card-content .post-meta .comment{
    margin-left: 1rem;
}
.latest-news .article-wrap .card .card-content h2{
    font-family: "railway-bold";
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.latest-news .article-wrap .card .card-content p{
    line-height: 1.6rem;

}
.latest-news .btn-rapper{
    margin-top: 2rem;
}
section.subscribe{
    background: var(--yellows);
}
section.subscribe .container > div:first-child img{
    width: 90%;
}
section.subscribe .container div:first-child img{
    flex:1;
}
section.subscribe .container div:first-child img{
    flex:1;
}
section.subscribe h1{
    font-family: "railway-bold";
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
section.subscribe p{
    font-family: "railway-medium";
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}
section.subscribe .input-wrap{
    background: var(--white-3);
    display: flex;
    padding:0.3rem;
    border-radius: 4px;
}
section.subscribe .input-wrap{
    background: var(--white-3);
    width: 100%;
    border: none;
    padding: 0 1rem;
    font-size: 1rem;
    height: 3.2rem;
    display: flex;
}
section.subscribe .input-wrap input{
    width: 100%;
    border: none;
    padding: 0 1rem;
    font-size: 1rem;
    outline: none;
}
section.subscribe .input-wrap input:focus{
    outline: none;
}
section.subscribe .input-wrap button{
    padding: 0.8rem 2rem;
    border: none;
    background: var(--yellows);
    color: var(--white-2);
    border-radius: 1px;
    font-size: 1rem;
    cursor: pointer;
    margin-right: -0.5rem;
    margin-top: 4px;
    margin-bottom: 4px;
    outline: none;
}
section.subscribe .input-wrap button:hover{
    background: var(--blues);
    outline: none;
}
section.contact{
    padding-top: 0 ;
    padding-bottom: 0;
}
section.contact .contact-info-wrapper{
    padding: 4rem 0;
    flex: 1;
}
section.contact .map{
    padding-left:40rem;
    flex: 1;
    filter: grayscale(100%);
}
section.contact .contact-info{
    position: relative;
    left: 16rem;
    margin-right: 10rem;
}
section.contact h1{
    left: 16rem;
}
section.contact .contact-info > div > div {
   display: flex;
   align-items: center;
   margin-bottom: 2rem; 
}
section.contact .contact-info > div > div >div{
    display: flex;
    flex-direction: column;
}
section.contact .contact-info > div > div >div span:first-child{
    font-family: "railway-bold";
    margin-bottom: 0.25rem;
}
footer .container{
    display: flex;
    color:var(--whites);
}
footer .box{
    flex:1;
    margin-right: 2rem;
    text-align: center;
}
footer .instagram-api img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
footer{
    background:var(--blues);
    padding:4rem 0;
}
footer .instagram-api .post-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .instagram-api .post-wrap > div{
    width: calc(1/3*100% - (1 - 1/3)*10px);
    margin-bottom: 10px;
}
footer .box ul{
    list-style-type: none;
}
footer .box ul li a{
    color: var(--whites);
    text-decoration: none;
    transition: all 0.3s ease;
}
footer .box ul li a:hover{
    color: var(--yellows);

}
footer .box h3{
    border-bottom: 1px solid var(--yellows);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
footer .box p{
    line-height: 1.6;
    margin-bottom: 1rem;

}
footer .box ul li{
    margin-bottom: 1rem;
}
footer .box :nth-child(3)>div{
    display: flex;
    justify-content: center;
}
footer .box :nth-child(3){
    text-align: left;
}
footer .box :nth-child(3) h3{
    text-align: center;
}
footer .box :nth-child(3)>div img{
    margin-right: 1rem;
}
footer .box :nth-child(3) ul li{
    margin-bottom: 1.5rem;
}
footer.copy{
    padding: 1rem 0;
    background: var(--blues);
    color: var(--whites);
    text-align: center;
    font-size: 0.75rem;
}
footer.copy a{
    color:var(--yellows);
    text-decoration: none;
    text-align: center;
    font-family:"railway-bold";
    font-size:2rem;
}
footer .shifter{
    padding-left: 5.8rem;
}
footer .awm{
    padding-left: 5.5rem;
}
@media (max-width:992px){
    .nav-trigger{
        display: block;
    }
    header.topbar{
        display: none;
    }
    header.hero{
        margin-top: -4rem;
    }
    header.hero .hero-image{
        top:100px;
        right: -160px;
    }
    .topper .slider-btn{
        display: none!important;
    }
    section.contact .contact-info-wrapper{
        display: none;
    }
    section.contact .map{
        text-align: left;
        margin-left: -35rem;
    }
    .latest-news .article-wrap{
        flex-direction: column;
    }
    .latest-news .article-wrap .card{
        margin-right: 0;
        margin-bottom: 4rem;
    }
    footer .instagram-api .post-wrap > div{
        width: calc(1/2*100% - (1-1/3)*10px);
    }
    footer .awm .awkward{
        margin-right: 3rem;
    }
    footer .awm{
        margin-right: 3rem;
        display: flex;
    }
    footer .shifter{
        padding-right: 5.5rem;
    }
}
.nav-background .mobile-logo{
    padding: 1rem;
}
.nav-background .nav-top{
    padding: 1rem;
}
.nav-background .nav-top ul{
    list-style-type: none;
}
.nav-background .nav-top ul li{
    margin-bottom: 1rem;
}
.nav-background .nav-top ul li a{
    text-decoration: none;
    color:var(--blues);
    font-family: "railway-medium";
}
.nav-background .nav-top ul li a:hover{
    color: var(--yellows);
}
.nav-background .contact, .nav-background .time{
    padding: 1rem;
    padding-left: 0rem;
}
.nav-background .contact img, .nav-background .time img{
    margin-right: 1rem;
}
.nav-background .contact h5, .nav-background .time h5{
    font-family: "railway-bold";
    margin-bottom: 0.25rem;
    font-size: 1rem;
}
.nav-background .contact h6, .nav-background .time h6{
    font-size: 0.75rem;
}
.nav-background .cart{
    margin-bottom: 2rem;
}
.nav-background .cart a{
    color:var(--blues);
    text-decoration: none;
    font-family: "railway-bold";
}
.nav-background .cart img{
    margin-right: 0.75rem;
    width: 20px;
    height: 20px;
}
@media(max-width:768px){
    .about-meal .about-meal-wrap{
        flex-direction: column;
    }
    .about-meal .about-meal-wrap img{
        width: 100%;
        margin-bottom: 2rem;
    }
    section.our-services .card-rapper{
        flex-direction: column;
    }
    section.our-services .card-rapper .service-card{
        margin-bottom: 6rem;
    }
    section.contact .contact-info-wrapper{
        display: block;
        margin-right: 40rem;
    }
    section.contact .map{
        display: none;
    }
    footer .container{
        flex-direction: column;
    }
    footer .awm{
        margin-right: 0rem;
    }
    footer .shifter{
        margin-right: 0rem;
    }
    footer .box{
        text-align:left ;
    }
}
@media(max-width:576px){
    header.hero .hero-image{
        right: -235px;
        top: 150px;
    }
    header.hero .container{
        padding-left: 1rem;
    }
    header.hero{
        margin-top: -3rem;
    }
    section.big-deal .timer > div{
        margin-right: 0.5rem;
    }
    section.subscribe .container{
        flex-direction: column;
    }
}